{% extends "BolboBlogBundle::layout.html.twig" %}

{% block title "Symfony - posts" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'post.new.headline'|trans({}, 'BolboBlogBundle') }}</h1>

    {%  if (form is defined) %}
        <form action="{{ url('post_posts') }}" method="POST" {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <input type="submit" value="{% trans from 'BolboBlogBundle' %}post.new.submit{% endtrans %}">
        </form>
    {% endif %}

{% endblock %}